In [2]:
directors = {'Benny',' Hans', 'Tine', 'Mille', 'Torben', 'Troels', 'Søren'}

management = {'Tine', 'Trunte', 'Rane'}

employees = {'Niels', 'Anna', 'Tine', 'Ole', 'Trunte', 'Bent', 'Rane', 'Allan', 'Stine', 'Claus', 'James', 'Lars'}

who in the board of directors is not an employee?

In [4]:
directors.difference(employees)

{' Hans', 'Benny', 'Mille', 'Søren', 'Torben', 'Troels'}

who in the board of directors is also an employee?

In [5]:
directors.intersection(employees)

{'Tine'}

how many of the management is also member of the board?

In [7]:
directors.intersection(management)

{'Tine'}

All members of the management also an employee?

In [16]:
management.issubset(employees)

True

All members of the management also in the board?

In [3]:
management.issubset(directors)

False

Who is an employee, member of the management, and a member of the board?

In [6]:
employees.intersection(management, directors)

{'Tine'}

Who of the employee is neither a memeber or the board or management?

In [7]:
employees.difference(management, directors)

{'Allan', 'Anna', 'Bent', 'Claus', 'James', 'Lars', 'Niels', 'Ole', 'Stine'}

2. Create a list of tuples from the folowing datastructure

In [10]:
tuple = ('a', 'Alpha', 'b', 'Beta', 'g', 'Gamma')

3. From these 2 sets:

In [11]:
letters1 = {'a', 'e', 'i', 'o', 'u', 'y'}

letters2 = {'a', 'e', 'i', 'o', 'u', 'y', 'æ' ,'ø', 'å'}

Create a: Union

In [20]:
letters1.union(letters2)

union_set_method = letters1.union(letters2)
union_set_operator = letters1 | letters2

Create a: Symmetric difference

In [14]:
symmetric_set_method = letters1.symmetric_difference(letters2)
symmetric_set_operator = letters1 ^ letters2

{'å', 'æ', 'ø'}

Create a: Difference

In [17]:
difference_set_method = letters2.difference(letters1)
difference_set_operator = letters2 - letters1

{'å', 'æ', 'ø'}

Create a: disjoint

In [19]:
disjoint_set_method = letters1.isdisjoint(letters2)

False

4. Date Decoder.

In [38]:
#A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number.
#Create a dict suitable for decoding month names to numbers.
#Create a function which uses string operations to split the date into 3 items using the "-" character.
#Translate the month, correct the year to include all of the digits.

date = '8-FEB-22'

date_dict = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}

def date_contains(date):
    date_list = date.split('-')
    day = date_list[0]
    month = date_list[1]
    year = date_list[2]
    if int(year) < 70:
        year = '20' + year
    else:
        year = '19' + year
    return day, date_dict[month], year


date_contains(date)

('8', '02', '2022')

5. Party exercise

You are organizing a party and have two lists of friends. One list contains the friends you have invited, and the other list contains the friends who have RSVP'd.

You want to find out who has not RSVP'd, who was not invited but RSVP'd, and who are common in both lists.

Task: Write a Python program that takes two sets of names, one set containing the names of friends invited to the party and another set containing the names of friends who have RSVP'd.
The program should then print out the names of friends who have not RSVP'd, the names of friends who were not invited but RSVP'd, and the names of friends who are common in both lists (i.e., invited and RSVP'd).

In [41]:
friendsInvited = {'Peter', 'Mette', 'Anne', 'Kurt', 'Iben'}
friendsRSVPd = {'Peter', 'Mette', 'Anne', 'August','Bob'}

{'Iben', 'Kurt'}

names of friends who have not RSVP'd

In [42]:
friendsInvited.difference(friendsRSVPd)

{'Iben', 'Kurt'}

the names of friends who were not invited but RSVP'd

In [43]:
friendsRSVPd.difference(friendsInvited)

{'August', 'Bob'}

the names of friends who are common in both lists

In [44]:
friendsInvited.intersection(friendsRSVPd)

{'Anne', 'Mette', 'Peter'}

You are a teacher and have a dictionary containing the names of your students as keys and their grades as values.

You want to update the grades of some students and then print out the names of all students who have a grade higher than 85.

Task: Write a Python program that takes a dictionary of students and their grades, updates the grades of specific students, and then prints out the names of all students who have a grade higher than 85.

In [51]:
students = {'August': 85, 'Bob': 65, 'Claus': 75, 'James': 80, 'Lars': 90, 'Peter': 85, 'Mette': 65, 'Anne': 75, 'Kurt': 80, 'Iben': 90}

updates the grades of specific students

In [53]:
def updateStudent(student, grade):
    students[student] = grade
    return students

updateStudent('August', 95)

{'August': 95,
 'Bob': 65,
 'Claus': 75,
 'James': 80,
 'Lars': 90,
 'Peter': 85,
 'Mette': 65,
 'Anne': 75,
 'Kurt': 80,
 'Iben': 90}

prints out the names of all students who have a grade higher than 85

In [54]:
for student in students:
    if students[student] > 85:
        print(student, students[student])

August 95
Lars 90
Iben 90